@model BikeStores.Models.BrandsViewModel
@{
    ViewBag.Title = "Products By Brand";
}

<div class="jumbotron">
    <h2 style="text-align: center">Products By Brand</h2>
</div>

@if (Model.BrandList == null)
{

    <div>
        <form method="post">
            @Html.DropDownListFor(Model => Model.BrandName, new SelectList(Model.AllBrandsList), "Select Brand")
            <input type="submit" value="Search" formmethod="post" />
        </form>

    </div>
}
else
{
    @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer })
    <table class="table">
        <tr>
            <th>
                @Model.BrandName 's Products
            </th>
        </tr>

        @foreach (var item in Model.BrandList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>
            </tr>

        }

    </table>
}